
  YOU GET TO SEE THIS BECAUSE YOU'RE THE CLIENT
    <h1><%= proposal.title %></h1>
    <h5>Prepared for <em><%= proposal.email %></em></h5>
    <h1><%= number_to_currency(proposal.budget, precision: 0) %></h1>
