<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <style>
    body {
      background: #E3EFF3;
      text-align: center;
      font-family: 'Montserrat', sans-serif;
      color:#6E828A;
    }

    #proposal {
      width: 70vw;
      height: 70vh;
      background: white;
      margin: 0 auto;
      padding: 20px;
    }
  </style>
</head>
<body>
  <% if user_signed_in? %>
    <% if admin_signed_in? %>
      <%= render partial: "admin", locals: {proposal: @proposal} %>
    <% else %>
      <%= render partial: "user", locals: {proposal: @proposal} %>
    <% end %>
  <% elsif admin_signed_in? %>
    <%= render partial: "admin", locals: {proposal: @proposal} %>
   <% end %>
</body>
